.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Box {
  background-color: #777777;
  flex-direction: column;
  border-radius: 30%;
  padding: 20px;
}
